html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #171717;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #313131;
}

h1
{
	margin: 0px;
	padding: 0;
	font-size: 40pt;
	font-weight: 500;
}

h2
{
	margin: 0px;
	padding: 0;
	font-size: 20pt;
	font-weight: 300;
	color: #707070;
	text-align:justify;
	text-justify:inter-word;
}

h3
{
	margin: 0px;
	padding: 0;
	font-size: 15pt;
	font-weight: 300;
	color: #707070;
	text-align:justify;
	text-justify:inter-word;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #707070;;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 20em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		
	}

	.image-centered img
	{
		margin: 0em auto;
		width: auto;
	}

hr
{
	display: none;
}

.containerMenu
{
	width: 100%;
}

.container
{
	width: 900px;
	margin: 0em auto;
}

.clearfix
{
	clear: both;
}

#header
{
}

	#logo
	{
		position: absolute;
		top: 3em;
		left: 0;
		width: 100%;
	}
	
	#logo h1
	{
		display: inline-block;
		font-size: 3em;
		text-transform: uppercase;
		font-weight: 700;
		color: #FFF;
		font-style: oblique;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

	#menu
	{
		
	}
	
	#menu ul
	{
		
	}
	
	#menu li
	{
		float: left;
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 0.60em 8.9em;
		letter-spacing: 0.89em;
		text-decoration: none;
		font-size: 1.13em;
		font-weight: 500;
		text-transform: uppercase;
		outline: 0;
		color: #A2A2A2;
	}
	
	.home
	{
		position: absolute;
		left : 3%;
	}
	
	.blog
	{
		position: absolute;
		left : 25%;
	}
	
	.team
	{
		position: absolute;
		left : 55%;
	}
	
	.press
	{
		position: absolute;
		left : 73%;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		color: #FFF;
	}

	#page
	{
		position: relative;
		overflow: hidden;
		padding: 6em 0em 5em 0em;
	}

	#content
	{
		float: left;
		width: 900px;
	}

	#sidebar
	{
		float: right;
		width: 345px;
	}
	
	#sidebar .title h2
	{
		font-size: 1.6em;
	}
	
	#sidebar .box1
	{
		margin-bottom: 3em;
	}


#header-wrapper
{
	overflow: hidden;
	width: 100%;
	height: 419px;
	position: relative;
	background: url('images/header.jpg') no-repeat top center;
	
}

#centerP
{
    position: relative;
	text-align: center;
	font-size: 1.6em;
}

#blogpost1
{
	height: 1033px;
    position: relative;
	background: url("images/poster.jpg") no-repeat center;
}

#blogpost2-beta3
{
	height: 384px;
    position: relative;
	background: url("images/WarBeta.jpg") no-repeat center;
}

#blogpost2-beta2
{
	height: 384px;
    position: relative;
	background: url("images/OfficeBeta.jpg") no-repeat center;
}

#blogpost2-beta1
{
	height: 384px;
    position: relative;
	background: url("images/CityBeta.jpg") no-repeat center;
}

#blogpost3
{
	height: 384px;
    position: relative;
	background: url("images/Bombing.jpg") no-repeat center;
}

#centerImage
{
    position: relative;
	background: url("images/team.jpg") no-repeat center;
}

#header-after
{
	width: 100%;
    height: 3em;
	background: url("images/bg01.png") repeat scroll 0 0 / 100% auto transparent;
}

	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}
	
	.title
	{
		margin-bottom: 3em;
		text-transform: uppercase;
	}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;
		color: #8C8C8C;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #707070;
	}
	
	.byline2
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #8C8C8C;
	}















